.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.cardListContainer {
    display: grid;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr); /* 4개의 열을 동일한 너비로 만듭니다. */
    gap: 20px; /* 카드 사이의 간격을 설정합니다. */
    justify-content: center; 
}

.missingDescriptionGroup{
    margin-bottom: 30px;
    text-align: center; /* 내부 텍스트 가운데 정렬 */
}

.missingTitle{
    margin-bottom: 10px;
}

.missingDescription{
    margin-top: 10px;
}


