.cardContainer{
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.cardImageGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cardImage{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.cardTextGroup{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.cardNameText{
    color: #333;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0px;
}

.cardKeyText{
    color: #333;
    margin: 10px 0px;
    text-align: left;
    font-weight: 700;
}

.cardValueText{
    color: #333;
    margin: 10px 0px;
    text-align: right;
}